<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.mapper.CompanyMapper">
    <update id="update">
        update tb_ai_company
        <set>
            <if test="name!=null and name !='' ">
                name=#{name},
            </if>
            <if test="type!=null  ">
                type=#{type},
            </if>
            <if test="lowSalary!=null  ">
                low_salary=#{lowSalary},
            </if>
            <if test="highSalary!=null  ">
                high_salary=#{highSalary},
            </if>
            <if test="address!=null  ">
                address=#{address},
            </if>
            <if test="jobTag!=null and jobTag !=''  ">
                job_tag=#{jobTag},
            </if>
            <if test="jobDesc!=null and jobDesc !='' ">
                job_desc=#{jobDesc},
            </if>
            <if test="employerBenefit!=null and employerBenefit !='' ">
                employer_benefit=#{employerBenefit},
            </if>
        </set>
        where company_id=#{companyId}
    </update>
    <select id="queryCompany" resultType="com.chen.pojo.entity.Company">
        select  company_id, name,type, name, low_salary, high_salary,
               address, job_tag, job_desc, employer_benefit
        from tb_ai_company
        <where>
            and is_del=1
            <if test="name!=null and name !='' ">
                and name like concat('%' , #{name},'%')
            </if>
            <if test="type != null ">
                and  type = #{type}
            </if>

        </where>
        order by created_time desc
    </select>
</mapper>
